<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--日志等级，填写数字：(高) OFF【0】 > FATAL【1】 > ERROR【2】 > WARN【3】 > INFO【4】 > DEBUG【5】 (低) -->
    <add key="LogWriteLevel" value="5"/>
    <!--数据库类型-->
    <add key="DataBaseType" value="Oracle"/>
    <!--数据库连接字符串-->
    <add key="ConnString" value="User ID=C##DY_FAS2;Password=C##DY_FAS2;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.95.240.8)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL)));Persist Security Info=True;" />
    <!--服务名称，在部署后不可再修改-->
    <add key="ServiceName" value="EasymanScriptServiceV4"/>
    <!--服务显示名，在部署后不可再修改-->
    <add key="DisplayName" value="EasymanScriptServiceV4"/>
    <!--服务说明，在部署后不可再修改-->
    <add key="Description" value="数据库脚本服务程序第四版"/>
    <!--从文件导入数据到数据库后，是否删除产生的文件-->
    <add key="IsDeleteLoadDataFiles" value="true"/>
  </appSettings>
</configuration>