
@{
    Layout = "~/Views/Shared/_Content.cshtml";
}
<script src="~/Content/plugins/jquery-3.2.1.min.js"></script>
<link href="~/Content/Luckysheet/plugins/css/pluginsCss.css" rel="stylesheet" />
<link href="~/Content/Luckysheet/css/luckysheet.css" rel="stylesheet" />
<link href="~/Content/Luckysheet/plugins/css/pluginsCss.css" rel="stylesheet" />
<script src="~/Content/Luckysheet/luckysheet.umd.js"></script>
<script src="~/Content/Luckysheet/plugins/js/plugin.js"></script>
<link href="~/Content/Luckysheet/assets/iconfont/iconfont.css" rel="stylesheet" />
@*<script src="https://cdn.jsdelivr.net/npm/luckyexcel/dist/luckyexcel.umd.js"></script>*@
<script src="~/Content/Luckysheet/luckyexcel.umd.js"></script>
<form id="form" action="" method="post">
    <button type="button" class="layui-btn layui-btn-radius layui-btn-normal " id="upload">excel附件上传</button>
    <input id="importExcel_input" hidden="hidden" type="file" name="file" placeholder="导入" />
    <div id="luckysheet" style="margin:0px;padding:0px;position:absolute;width:100%;height:90%;left: 0px;top: 40px;"></div>
</form>
<script>
    $(function () {
        //配置项
        var options = {
            container: 'luckysheet', //luckysheet为容器id
        }
        luckysheet.create(options)
    })
    //监听文件上传
    var input = document.querySelector('input');
    input.addEventListener('change', importExcel);

    $("#upload").bind("click", function () {
        $(input).click();
    });


    /**
    * 获取excel数据加載到頁面上
    */
    function importExcel(event) {

        var file = event.target.files[0];
        var fileName = file.name;
        fileName = fileName + "";
        console.log(fileName);
        //將文件加載到頁面上
        LuckyExcel.transformExcelToLucky(file, function (exportJson, luckysheetfile) {

            if (exportJson.sheets == null || exportJson.sheets.length == 0) {
                alert("无法读取excel文件的内容，当前不支持xls文件！只支持xlsx");
                return;
            }
            window.luckysheet.destroy();
            console.log(JSON.stringify(exportJson.sheets));
            window.luckysheet.create({
                container: 'luckysheet', //luckysheet is the container id
                showinfobar: false,
                lang: 'zh', // 设定表格语言
                allowEdit: true,//作用：是否允许前台编辑
                // allowUpdate: true,
                allowCopy: true, //是否允许拷贝
                showtoolbar: false, //是否第二列显示工具栏
                showinfobar: true, //是否显示顶部名称栏
                showsheetbar: false, //是否显示底部表格名称区域
                showstatisticBar: true, //是否显示底部计数栏
                pointEdit: false, //是否是编辑器插入表格模式
                pointEditUpdate: null, //编辑器表格更新函数
                data: exportJson.sheets,
                title: exportJson.info.name,
                userInfo: exportJson.info.name.creator,
                functionButton: '<button id="" class="btn btn-primary" style=" padding:3px 6px; font-size: 16px;width: 100px;height: 27px; margin-right: 85px;" οnclick="downExcelData()">導出</button>',

            });
        });

    }
  </script>