
@{
    Layout = "~/Views/Shared/_Content.cshtml";

    var rowList = ViewBag.ARR as List<CS.BLL.ModelExtension.EX_LEADER_UNIT.UNIT_ROW>;
}
<style>
    .layui-table th {
        text-align: center
    }

    .ReportTitle {
        text-align: center;
        font-size: 30px;
        margin-bottom: 30px;
        margin-top: 20px;
    }
</style>
<div>
    <div class="ReportTitle"><span>市本级县处级及以上单位核定领导职数情况表</span><a target="_blank" href="../AjtmLeaderUnit/Export" class="layui-btn layui-btn-sm" style="margin-left:80px"><i class="layui-icon layui-icon-exl layui-icon-small"></i>下载</a></div>
    <table class="layui-table" lay-size="sm" style="text-align:center">
        <colgroup>
            <col width="40">
            <col width="150">
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="150">
            <col width="70">
            <col width="50">
            <col width="150">
            <col width="70">
            <col width="50">
            <col width="70">
            <col width="50">
            <col width="70">
            <col width="50">
            <col width="150">
            <col width="70">
            <col width="250"/>
        </colgroup>
        <thead>
            <tr>
                <th rowspan="2">
                    序
                    号
                </th>
                <th rowspan="2">机构名称</th>
                <th rowspan="2">行政</th>
                <th rowspan="2">
                    机构
                    规格
                </th>
                <th colspan="2">
                    副县级以上<br />
                    领导职数总<br />
                    计
                </th>
                <th colspan="3">领导正职</th>
                <th colspan="3">领导副职</th>
                <th colspan="2">
                    纪委书记<br />
                    (纪工委书记、<br />纪检组长、<br />纪检员)
                </th>
                <th colspan="2">机关党委书记</th>
                <th colspan="3">其他领导</th>
                <th rowspan="2">备注</th>
            </tr>
            <tr>
                <th>核定</th>
                <th>实有</th>
                <th>核定</th>
                <th>名称</th>
                <th>实配</th>
                <th>核定</th>
                <th>名称</th>
                <th>实配</th>
                <th>核定</th>
                <th>实配</th>
                <th>核定</th>
                <th>实配</th>
                <th>核定</th>
                <th>名称</th>
                <th>实配</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in ViewBag.ARR)
            {
                var celllist = item.cell;
                <tr>
                    @foreach(var cell in celllist)
                    {
                        var rowspan = cell.rowspan <= 0 ? 1 : cell.rowspan;
                        <td rowspan="@rowspan">@cell.value</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
 