
@{
    Layout = "~/Views/Shared/_Content.cshtml";
}

<form id="form" class="layui-form" action="" method="post" style="height:100%">
    <script src="~/Content/FW/LayuiZtree.js?v=20210609"></script>
    <input hidden="hidden" value="@ViewBag.Unit" id="Unit" />
    <input hidden="hidden" value="0" />
    <div class="layui-row" style="height:100%">
        <div class="layui-col-md2" style="height:100%;display: inline-block;  padding: 10px; border: 1px solid #ddd; overflow: auto;">
            <ul id="unitId" class="ztree"></ul>
        </div>
        <div class="layui-col-md10" style="height:100%">
            <iframe class="larry-iframe" id="iframeShow" src="" border="0" frameborder="0" style="width:100%;height:100%"></iframe>
        </div>
    </div>
</form>
<script src="~/Views/AjtmUnit/JS/Index.js?v=20210510"></script>
